html,
body {
  height: 100%;
  color: #61dafb;
  background: #2d2d2d;
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61dafb;
}
